@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
   font-family: "Inter", sans-serif;
   
}
 
@layer utilities {
  .clip-curve {
    clip-path: ellipse(75% 90% at 75% 50%);
  }
}

::-webkit-scrollbar{
  display: none;
}
